.valtenine-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 10px;
}

.buttons{
  display: flex;
  gap:10px;
  align-items: center;
  justify-content: center;
}

.valtenine-container img{
  width:200px;
  height: 200px;
}

.yesButton{
  background-color: rgb(60, 239, 60);
  color: #ffffff;
  border: none;
  padding: 6px 10px;
}

.noButton{
  background-color: rgb(255, 44, 44);
  color: #ffffff;
  border: none;
  padding: 6px 10px;
}